body {
  font-family: "Titillium Web", sans-serif;
}
body .container-plomo {
  background-color: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
body footer {
  background: url("https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center left;
  opacity: 0.9;
}
body header, body section, body footer {
  padding: 40px 0;
}