<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Proyect Boostrap 4
        //Boostrap 4
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        //Google Fonts
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap")
        //ScrollReveal
        script(src="https://unpkg.com/scrollreveal")
        //Style - CSS
        link(rel="stylesheet", href="../css/style.css")
        
    body
        //Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top#navbar
            .container
                a(href="#").navbar-brand Boostrap WebSite
                button(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarNar
                    ul.navbar-nav.ml-auto
                        li.nav-item.active
                            a(href="#header").nav-link Inicio
                        li.nav-item
                            a(href="#info-one").nav-link Acerca de
                        li.nav-item
                            a(href="#info-two").nav-link Noticias
                        li.nav-item
                            a(href="#contact").nav-link Contacto
        //Cabecera
        header#header
            .container.mt-5.text-justify
                .row
                    .col-md-6
                        .header-content-left
                            img(src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", style="width: 100%;")
                    .col-md-6
                        .header-content-right
                            h1.display-4 Lorem, ipsum dolor.
                            p.mt-5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius porro explicabo nihil accusantium, veritatis quos excepturi iusto officia blanditiis error nam dolorem quas ad, iure rerum! Dolorem, ab? Accusantium voluptas dolore libero optio soluta est aliquam reiciendis atque cumque, corporis nemo laboriosam facere minima tempora voluptates deserunt facilis iure quasi!
                            a(href="#").btn.btn-outline-secondary.btn-lg.mt-2.header-btn Leer Mas
        //Testimonio
        section#testimonio.container-plomo
            .container
                p.mb-2.h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ipsum ut quo maxime asperiores quis id, exercitationem excepturi nemo quisquam.
                p.h4 - Pedro Velasquez

        //Informacion1
        section#info-one
            .container.mt-5.text-justify
                .row
                    .col-md-6
                        .info-one-left
                            img(src="https://images.pexels.com/photos/1310532/pexels-photo-1310532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940", style="width: 100%;")
                    .col-md-6.my-auto
                        .info-one-right
                            h2 Lorem ipsum dolor sit.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quisquam atque odit sapiente obcaecati maiores deleniti dicta delectus. Ut labore est, non quod illo magni quas inventore dolorum architecto assumenda omnis nemo? Ducimus aliquid rem illo odio animi, minus incidunt.
                            a(href="#").btn.btn-outline-secondary.btn-lg.mt-2 Leer Mas

        //Informacion2
        section#info-two.container-plomo
            .container.text-justify
                .row.my-5
                    .col-md-6
                        .info-two-left
                            h2 Lorem, ipsum dolor.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis deserunt itaque nam accusantium necessitatibus earum cum aut atque labore officia eum placeat rem aliquid ducimus id repellat voluptatibus corporis obcaecati facere neque, eveniet iusto cupiditate. Itaque sint eum ipsam perspiciatis eius excepturi? Natus impedit quisquam temporibus voluptatibus accusantium quaerat tempora! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum sed molestias deserunt minus impedit necessitatibus nam, dolores error animi mollitia. Saepe ad quisquam aperiam animi cum labore nihil fugiat possimus.
                    .col-md-6
                        .info-two-right
                            h2 Lorem, ipsum dolor.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis deserunt itaque nam accusantium necessitatibus earum cum aut atque labore officia eum placeat rem aliquid ducimus id repellat voluptatibus corporis obcaecati facere neque, eveniet iusto cupiditate. Itaque sint eum ipsam perspiciatis eius excepturi? Natus impedit quisquam temporibus voluptatibus accusantium quaerat tempora! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum sed molestias deserunt minus impedit necessitatibus nam, dolores error animi mollitia. Saepe ad quisquam aperiam animi cum labore nihil fugiat possimus.
        footer#contact
            .container
                .row
                    .col-md-5#formulario
                        form(method="post").card.my-5
                            .card-body
                                .form-group
                                    input(type="text", placeholder="Nombre").form-control
                                .form-group
                                    input(type="email", placeholder="Email").form-control
                                .form-group
                                    textarea(cols="30", rows="10" placeholder="Mensaje").form-control
                                button(type="submit").btn.btn-outline-secondary.btn-block Enviar
        
        script(src="js/script.js")
        //Boostrap 4 script
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",crossorigin="anonymous")